.menu {
  display: flex;
}
.menu_logo {
  height: 2rem;
}
.menu-dropdown {
  display: flex;
}

@media (max-width: 390px) {
  nav ul {
    display: none;
  }
  nav select {
    display: inline-block;
  }
}
